<div class="event">
    <div class="content">
        <div class="summary">
            <% if message.user %>
                <em><%= message.user.username %></em>: <%= message.body %>
            <% end%>
        </div>
    </div>
</div>